<footer op-60 pb-1em fixed bottom-0 z-100 op-0>
  <p mt-6 text-sm text-slate>
    <span pr-1>Made by</span>
    <a
    border-b border-slate border-none hover:border-dashed
      href="https://github.com/lxzh" target="_blank"
    >
      Lxzh
    </a>
    <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="https://github.com/lxzh/chatgpt-demo" target="_blank"
    >
      Source Code
    </a>
  </p>
</footer>